.grille {
  max-width: 1300px;
  width: 80%;
  height: auto;
  margin: 30px auto;
  /* border: 1px solid rgb(131, 131, 131); */

  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  justify-content: center;
  grid-gap: 1rem;
}

input[type='text'] {
  color: white;
}
